{{ define "main" }}

<div class="container" style="max-width: 800px;">
    <div class="py-4 rounded-3">
        <div class="container-fluid py-2">
            <h1 class="display-2 mb-4 text-center">{{ .Title }}</h1>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-12">
            <hr class="dropdown-divider">
        </div>
    </div>

    <div class="container-fluid py-2">
        <div class="serif main-content">
            {{ .Content | safeHTML }}
        </div>
    </div>
</div>

{{ end }}
