<div class="container">
    <div class="row justify-content-between">
        <div class="col-sm-4">
            <p class="footer">{{ .Site.Copyright }}</p>
        </div>
        <div class="col-sm-6 d-flex flex-row-reverse">
            {{ range .Site.Params.Social }}
            <a class="footer-social px-2" {{ with .rel }} rel="{{ . }}" {{ end }} href="{{ .link }}" target="_blank"><i class="{{ .icon }}"></i></a>
            {{ end }}
        </div>
    </div>
</div>
